.skills{
padding:100px 8%;
background:#050816;
}

.dashboard-title{
text-align:center;
color:#fff;
font-size:2.8rem;
margin-bottom:50px;
}

.dashboard{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
}

.panel{
background:#0f172a;
border:1px solid #1e293b;
border-radius:18px;
overflow:hidden;
transition:.3s;
}

.panel:hover{
transform:translateY(-8px);
box-shadow:0 0 30px rgba(56,189,248,.25);
border-color:#38bdf8;
}

.panel-header{
background:#111827;
padding:18px;
display:flex;
align-items:center;
gap:12px;
border-bottom:1px solid #1e293b;
}

.panel-header span{
font-size:1.5rem;
}

.panel-header h3{
color:#38bdf8;
}

.panel-body{
padding:20px;
display:grid;
grid-template-columns:repeat(2,1fr);
gap:12px;
}

.item{
background:#1e293b;
padding:12px;
border-radius:10px;
text-align:center;
color:#e2e8f0;
transition:.3s;
}

.item:hover{
background:#38bdf8;
color:#050816;
transform:scale(1.05);
}

@media(max-width:768px){

.dashboard{
grid-template-columns:1fr;
}

.panel-body{
grid-template-columns:repeat(2,1fr);
}

}
