.custom-cursor{

position:fixed;

width:20px;

height:20px;

border-radius:50%;

background:#38bdf8;

pointer-events:none;

transform:translate(-50%,-50%);

box-shadow:
0 0 10px #38bdf8,
0 0 25px #38bdf8,
0 0 50px #38bdf8;

z-index:9999;

transition:
left .05s linear,
top .05s linear;

mix-blend-mode:screen;

}
